{% extends "messaging/header_messaging.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'recoms/styles.css' %}" />
</head>
<div class="row">

    <div class="col-3">
        <div class="card-body">
            <ul class="list-group">
                <a href="{% url 'recoms_sess' %}" class="list-group-item list-group-item-action">
                    <img src="{% static 'Attendees/Icons/presentation.svg' %}" width="20" height="20"> Sessions
                </a>
                <a href="{% url 'recoms_atn' %}" class="list-group-item list-group-item-action list-group-item-dark">
                    <img src="{% static 'Attendees/Icons/attendees2.svg' %}" width="20" height="20"> Attendees
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="{% static 'Attendees/Icons/document.svg' %}" width="20" height="20"> Papers
                </a>
            </ul>
        </div>
    </div>

    <div class="col-9">
        {% for user,tags,slg in data %}
            <div class="card bg-light mb-3 mt-3 text-left" style="max-width: 40rem;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="thumb-lg member-thumb ml-2 mt-2">
                        {% if user.sex == "Female" %}
                            <img src="{% static 'Attendees/Icons/icon_female_user.png' %}" class="rounded-circle img-thumbnail">
                        {% else %}
                            <img src="{% static 'Attendees/Icons/icon_male_user.png' %}" class="rounded-circle img-thumbnail">
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }}  {{ user.last_name }}</h5>
                            <p class="text-muted"><small><b>{{user.status}} | {{user.organism }} | {{user.country}}</b></small> </p>
<!--                            <p class="card-text">Keywords: <span class="badge badge-secondary">{{ user.key_words }}</span></p>-->
                            <p class="card-text text-muted"><small><b>Keywords: </b></small>
                                    {% for kw in tags %}
                                        <span class="badge badge-secondary">{{ kw }}</span>
                                    {% endfor %}
                            </p>
                            <p class="card-text text-right">
                                <a href="{% url 'room' slg %}" class="btn btn-outline-dark btn-sm">Message</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}