{% extends "messaging/header_messaging.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'recoms/styles.css' %}" />
</head>

<div class="row">
    <div class="col-3">
        <div class="card-body">
            <ul class="list-group">
                <a href="{% url 'recoms_sess' %}" class="list-group-item list-group-item-action list-group-item-dark ">
                    <img src="{% static 'Attendees/Icons/presentation.svg' %}" width="20" height="20"> Sessions
                </a>
                <a href="{% url 'recoms_atn' %}" class="list-group-item list-group-item-action">
                    <img src="{% static 'Attendees/Icons/attendees2.svg' %}" width="20" height="20"> Attendees
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="{% static 'Attendees/Icons/document.svg' %}" width="20" height="20"> Papers
                </a>
            </ul>
        </div>
    </div>

    <div class="col-9">
        {% for sess in sessions %}
            <div class="card bg-light mb-3 mt-3 text-left" style="max-width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ sess.Title }}</h5>
                    <p class="card-text">{{ sess.Authors }}</p>
                     <div class="d-flex justify-content-between">
                                            <div class="text-primary">
                                              <small><b>{{ sess.Start_timeC }} - {{sess.Final_timeC}}</b></small>
                                            </div>
                                            <div class="room">
                                                {% if sess in user_sessions %}
                                                    <a href="{% url 'remove_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                        <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                            <small class="text-primary"><b>Saved</b></small>
                                                    </a>
                                                        {% else %}
                                                    <a href="{% url 'add_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                        <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                            <small><b>Reminder</b></small>
                                                    </a>

                                                    {% endif %}

                                            </div>
                                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
        <div class="col-4"></div>
        <div class="col">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark mb-4 " href="?page=1">First</a>
                    <a class="btn btn-outline-dark mb-4 " href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-dark mb-4 " href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-dark mb-4 " href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark mb-4 " href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-dark mb-4 " href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>

</div>


{% endblock %}