    {% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    For tags  -->
    <link rel="stylesheet" type="text/css" href="{% static 'Account/bootstrap-tagsinput.css' %}">
    <!-- Tags links finished -->

    <link rel="stylesheet" href="{% static 'Attendees/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'messaging/style.css' %}" />
</head>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{% static 'messaging/reconnecting-websocket.js' %}"></script>
  {% include "messaging/includes/Navbar_Attendees.html" %}
  {% include "messaging/includes/messages.html" %}
<body>

  {% block content %}
  {% endblock %}



<script>
 feather.replace()
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- For tags -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script text="text/javascript" src="{% static 'Account/bootstrap-tagsinput.js' %}"></script>
<!-- Tags links finished -->
</body>



