{% extends "messaging/header_messaging.html" %}
{% block content %}
{% load static %}
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<div class="container">

<div class="messaging pt-5">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Discussions</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
<!--            ------------------------------------------------------        -->
<!--                <div class="chat_list">-->
<!--                  <div class="chat_people">-->
<!--                    <div class="chat_img"> <img src="{% static 'Attendees/Icons/user-profile.png' %}" > </div>-->
<!--                    <div class="chat_ib">-->
<!--                      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>-->
<!--                      <p>Test, which is a new approach to have all solutions-->
<!--                        astrology under one roof.</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="chat_list">-->
<!--                  <div class="chat_people">-->
<!--                    <div class="chat_img"> <img src="{% static 'Attendees/Icons/user-profile.png' %}" alt="sunil"> </div>-->
<!--                    <div class="chat_ib">-->
<!--                      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>-->
<!--                      <p>Test, which is a new approach to have all solutions-->
<!--                        astrology under one roof.</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="chat_list active_chat">-->
<!--                  <div class="chat_people">-->
<!--                    <div class="chat_img"> <img src="{% static 'Attendees/Icons/user-profile.png' %}" alt="sunil"> </div>-->
<!--                    <div class="chat_ib">-->
<!--                      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>-->
<!--                      <p>Test, which is a new approach to have all solutions-->
<!--                        astrology under one roof.</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


                   <div class="chat_list active_chat">
                        <div class="chat_people">
                          <div class="chat_img"> <img src="{% static 'Attendees/Icons/user-profile.png' %}"> </div>
                          <div class="chat_ib">
                            <h5>{{ other_active_name }} <span class="chat_date">{{ other_active_msg_date }}</span></h5>
                            <p>{{ other_active_last_msg }}</p>
                          </div>
                        </div>
                   </div>

               {% for msg,sender,date,slg in historical_disc_data %}
                    <a href="{% url 'room' slg %}">
                      <div class="chat_list">
                        <div class="chat_people">
                          <div class="chat_img"> <img src="{% static 'Attendees/Icons/user-profile.png' %}"> </div>
                          <div class="chat_ib">
                            <h5>{{ sender }} <span class="chat_date">{{ date }}</span></h5>
                            <p>{{ msg }}</p>
                          </div>
                        </div>
                      </div>
                    </a>
               {% endfor %}


<!--                                        <div class="col-4"><input type="submit" id="message_btn"  class="btn btn-primary mt-2 btn-rounded waves-effect w-md waves-light" value="Message" /> </div>-->


<!--            ---------------------------------------------------------    -->
          </div>
        </div>


        <div class="mesgs" >
          <div class="msg_history" id="chat-space">

          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id="message-input" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" id="message-submit" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div></div>
    </body>
    <script>

    var discussion_slug = {{ room_slug }};
    var user_slug = {{ user_slug }};
    // var list_disc_slugs = {{ list_disc_slugs }};


     var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + discussion_slug + '/');

    chatSocket.onopen = function(e) {
        console.log("open",e)

        old_messages();
    };

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);

        var message = data['message']['message'];


        if (Array.isArray(message)) {
          message.forEach(function(e) {
            createMessage(e);
          });
        }
        else {
          createMessage(message);
        }

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#message-input').focus();
    document.querySelector('#message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#message-submit').click();
        }
    };

    document.querySelector('#message-submit').onclick = function(e) {
        var msg_Input = document.querySelector('#message-input');
        var message = msg_Input.value;
        console.log('envoi',message)
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': user_slug,
            'discussion_slug': discussion_slug
        }));

        msg_Input.value = '';
    };


    function createMessage(data) {
      var author = data['sender'];
      var div1 = document.createElement('div');
      var div2 = document.createElement('div');
      var pTag = document.createElement('p');
      pTag.textContent = data['content'];
      var span = document.createElement('span');
      span.className = 'time_date';
      span.textContent = data['timestamp']

      if (author === user_slug) {
        div1.className = 'outgoing_msg';
        div2.className = 'sent_msg';
        div1.appendChild(div2);
        div2.appendChild(pTag);
        div2.appendChild(span);
      } else {
      var imgTag = document.createElement('img');
      var div3 = document.createElement('div');
      var div4 = document.createElement('div');


      imgTag.src = "{% static 'Attendees/Icons/user-profile.png' %}";
      div1.className = 'incoming_msg';
      div2.className = 'incoming_msg_img';
      div3.className = 'received_msg';
      div4.className = 'received_withd_msg';

      div1.appendChild(div2)
      div2.appendChild(imgTag)
      div1.appendChild(div3)
      div3.appendChild(div4)
      div4.appendChild(pTag)
      div4.appendChild(span);
      }



      document.querySelector('#chat-space').appendChild(div1);
    };

    function old_messages() {
      chatSocket.send(JSON.stringify({'command': 'old_messages',
                                      'discussion_slug': discussion_slug }));

    };

</script>

{% endblock %}