   {{ login_form|crispy }}

<script>
                create_form(elt);

                function div1(elt) {
                  var div1 = document.createElement('div');
                  var div11 = document.createElement('div');

                  var div12 = document.createElement('div');
                  var div13 = document.createElement('div');
                  var span13 = document.createElement('span');

                  div1.className = 'row pb-1';
                  div11.className = 'col-4';

                  {% if elt.is_organizer %}
                    var span11 = document.createElement('span');
                    span11.className = 'badge badge-dark';
                    span11.textContent = 'organizer';
                    div11.appendChild(span11);
                  {% endif %}

                  div12.className = 'col-4';
                  div13.className = 'col-4';

                  {% if elt.is_authenticated %}
                    span13.className = 'badge badge-success';
                    span13.textContent = 'online'

                  {% else %}
                    span13.className = 'badge badge-secondary';
                    span13.textContent = 'offline'
                  {% endif %}

                  div1.appendChild(div11)
                  div1.appendChild(div12)
                  div1.appendChild(div13)
                  div13.appendChild(span13)

                return div1
                };


                function div2(elt) {
                  var div2 = document.createElement('div');
                  var div21 = document.createElement('div');

                  div2.className = 'row';
                  div21.className = 'col-4';
                  {% if elt.is_presenting %}
                    var span21 = document.createElement('span');
                    span21.className = 'badge badge-dark';
                    span21.textContent = 'speaker';
                    div21.appendChild(span21)
                  {% endif %}

                  div2.appendChild(div21)

                  return div2
                };

                function div3(data) {
                  var div3 = document.createElement('div');
                  var div31 = document.createElement('div');
                  var div311 = document.createElement('div');
                  var img311 = document.createElement('img');
                  var div312 = document.createElement('div');
                  var h4_312 = document.createElement('h4');
                  var ptag32 = document.createElement('p');
                  var b32 = document.createElement('b');
                  // var span1_b32 = document.createElement('span');
                  // var span2_b32 = document.createElement('span');
                  // var span3_b32 = document.createElement('span');
                  var ptag33 = document.createElement('p');



                  div3.className = 'text-center';
                  div31.className = 'member-card pt-2 pb-2';
                  div311.className = 'thumb-lg member-thumb mx-auto';
                  img311.className = 'rounded-circle img-thumbnail';
                  img311.alt = 'profile-image';

                  {% if elt.sex == "Female" %}
                    img311.src = "{% static 'Attendees/Icons/icon_female_user.png' %}";
                  {% else %}
                    img311.src = "{% static 'Attendees/Icons/icon_male_user.png' %}";
                  {% endif %}

                  h4_312.textContent = {{elt.first_name}} {{elt.last_name}};
                  ptag32.className = 'text-muted';
                  b32.textContent =  {{elt.status}},' | ', {{elt.organism }}, ' | ', {{elt.country}};
                  // span1_b32.textContent =  '|';
                  // span2_b32.textContent =  {{elt.organism }};
                  // span3_b32.textContent = {{elt.country}};
                  ptag33.textContent = {{ elt.email }};

                  div3.appendChild(div31)
                  div31.appendChild(div311)
                  div311.appendChild(img311)
                  div31.appendChild(div312)
                  div312.appendChild(h4_312)
                  div312.appendChild(ptag32)
                  ptag32.appendChild(b32)
                  // b32.appendChild(span1_b32)
                  // b32.appendChild(span3_b32)
                  // b32.appendChild(span1_b32)
                  // b32.appendChild(span3_b32)
                  div312.appendChild(ptag33)
                  return div3
                };

                function pTag(data) {
                  var pTag = document.createElement('p');
                  var div1 = document.createElement('div');
                  var div12 = document.createElement('div');
                  var div13 = document.createElement('div');
                  var div14 = document.createElement('div');
                  var input_div12 = document.createElement('input');
                  var input_div14 = document.createElement('input');

                  div1.className = 'row pt-1';
                  div12.className = 'col-4';
                  input_div12.className = 'btn btn-primary mt-2 btn-rounded waves-effect w-md waves-light';
                  input_div12.type = "button";
                  input_div12.id = "message_btn";
                  input_div12.value = "Message";
                  div13.className = 'col-4';
                  div14.className = 'col-4';
                  input_div14.className = 'btn btn-primary mt-2 btn-rounded waves-effect w-md waves-light';
                  input_div14.type = "button";
                  input_div14.id = "localize_btn";
                  input_div14.value = "Localize";

                  div1.appendChild(div12)
                  div12.appendChild(input_div12)
                  div1.appendChild(div13)
                  div1.appendChild(div14)
                  div14.appendChild(input_div14)

                  return pTag
                };



                function div4(data) {
                  var div1 = document.createElement('div');
                  var div12 = document.createElement('div');
                  var div13 = document.createElement('div');
                  var div14 = document.createElement('div');
                  var href_div13 = document.createElement('a');


                  div1.className = 'row';
                  div12.className = 'col-4';
                  div13.className = 'col-4';
                  href_div13.className = 'text-pink';
                  href_div13.textContent = 'Infos';
                  href_div13.href = "{% url 'Infos_page' user.slug %}";
                  div14.className = 'col-4';

                  div1.appendChild(div12)
                  div1.appendChild(div13)
                  div13.appendChild(href_div13)
                  div1.appendChild(div14)

                  return div1

                };

                function create_form(data) {
                    var div_parent = document.createElement('div');
                    div_parent.className = 'card';

                    fdiv1 = div1(data)
                    fdiv2 = div2(data)
                    fdiv3 = div3(data)
                    fptag = pTag(data)
                    fdiv4 = div4(data)

                    div_parent.appendChild(fdiv1)
                   // div_parent.appendChild(fdiv2)
                    // div_parent.appendChild(fdiv3)
                    // div_parent.appendChild(fptag)
                    // div_parent.appendChild(fdiv4)

                  document.querySelector('#form').appendChild(div_parent);
                };

            </script>


     {% if elt.pk > user.pk %}
                                        {% set first = elt.pk %}
                                        {% set second = user.pk %}
                                    {% else %}
                                        {% set first = user.pk %}
                                        {% set second = elt.pk %}
                                    {% endif %}




<!--    <script>-->
<!--        var l = ['plc','lsc'];-->


<!--        var discussion_slug = discussion_slug_generator(3, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');-->

<!--        var buttons = document.getElementsByTagName('input');-->
<!--        console.log(buttons[2])-->

<!--        document.querySelector('#'.concat(window.pkis)).onclick = function(e) {-->
<!--        //window.location.pathname = 'chat/'+window.pkis-->
<!--        };-->

<!--        function discussion_slug_generator(length, chars) {-->
<!--        var result = '';-->
<!--        for (var i = length; i > 0; &#45;&#45;i) result += chars[Math.floor(Math.random() * chars.length)];-->
<!--        return result;-->
<!--        }-->



<!--    </script>-->

<div class="row">
        <div class="col-4"></div>
        <div class="col">
            {% if is_paginated %}
                {% if minis.has_previous %}
                    <a class="btn btn-outline-dark mb-4 " href="{% url 'recoms_atn' %}">First</a>
                    <a class="btn btn-outline-dark mb-4 " href="{% url 'recoms_atn' minis.previous_page_number %}">Previous</a>
                {% endif %}

                {% for num in minis.paginator.page_range %}
                    {% if minis.number == num %}
                        <a class="btn btn-dark mb-4 " href="{% url 'recoms_atn' num %}">{{ num }}</a>
                    {% elif num > minis.number|add:'-3' and num < minis.number|add:'3' %}
                        <a class="btn btn-outline-dark mb-4 " href="{% url 'recoms_atn' num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if minis.has_next %}
                        <a class="btn btn-outline-dark mb-4 " href="{% url 'recoms_atn' minis.next_page_number %}">Next</a>
                        <a class="btn btn-outline-dark mb-4 " href="{% url 'recoms_atn' minis.paginator.num_pages %}">Last</a>
                {% endif %}
            {% endif %}
        </div>

</div>


<!-- Scrolling with header cte -->

   {% extends "messaging/header_messaging.html" %}

{% block content %}
{% load static %}

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'Calendar/style4.css' %}" />
  </head>
  <body>

    <div id="app" class="mt-4">
      <tabs>
        <tab name= "Monday" :selected="true">
<!--          ------------------------------------ MONDAY                        -->

     <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 16%" class="text-light bg-dark"></th>
                <th scope="col" style="width: 21%" class="text-light bg-dark">9:00</th>
                <th scope="col" style="width: 21%" class="text-light bg-dark">9:15</th>
                <th scope="col" style="width: 21%" class="text-light bg-dark">9:30</th>
                <th scope="col" style="width: 21%" class="text-light bg-dark">9:45</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">THEME A: Modelling Techniques and Prototype Data
                      <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Panama</b></small>
                      </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME B: Coastal Hydrodynamics and Morphology
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Barcelona 4</b></small>
                  </div>

                </th>

                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME C: Surface Water and Groundwater Hydrology
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Madril Hall</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME D: Integrated Watershed Management
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Panama 4</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME E: River Basin Management
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Berlin 1</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

             <tr>
                <th scope="row">THEME F: Climate Change
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Barcelona 5</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

             <tr>
                <th scope="row">Special Session: Non-Instrusive Measuring Techniques for Free-Surface
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Roma 2</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>


            </tbody>
        </table>




<!--          ------------------------------------ MONDAY                        -->
        </tab>


        <tab name="Tuesday">
<!--          ------------------------------------- TUESDAY                      -->


          <div class = "center" id="content" ref="content">
            <table class="table">
              <thead>
                <col width="200">
                <col width="400">
                <col width="400">
                <col width="400">
                <col width="400">
                <col width="400">
                <col width="400">
                <col width="400">
                <col width="400">

                <tr>
                  <th scope="col" style="width: 16%" class="text-light bg-dark"></th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">9:00</th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">9:15</th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">9:30</th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">9:45</th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">10:00</th>
                  <th scope="col" style="width: 21%" class="text-light bg-dark">10:15</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">THEME A: Modelling Techniques and Prototype Data
                        <div class="room">
                          <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                          <small><b>Panama 1</b></small>
                        </div>
                  </th>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                </tr>

                <tr>
                  <th scope="row">THEME B: Coastal Hydrodynamics and Morphology
                    <div class="room">
                          <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                          <small><b>Barcelona 4</b></small>
                    </div>

                  </th>

                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>

                </tr>

                <tr>
                  <th scope="row">THEME C: Surface Water and Groundwater Hydrology
                    <div class="room">
                          <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                          <small><b>Madril Hall</b></small>
                    </div>
                  </th>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                   <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                  <td class="table-secondary">
                    <div class="card">
                    Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
<!--          ----------------------------------- TUESDAY                        -->
        </tab>

        <tab name="Wednesday">

<!--          ----------------------------------- WEDBESDAY                      -->
<h2>Responsive Table</h2>
  <p>The .table-responsive class creates a responsive table which will scroll horizontally on screens that are less than 992px wide (if needed). When viewing on anything larger than 992px, there is no difference:</p>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>City</th>
          <th>Country</th>
          <th>Sex</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
          <td>Female</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>

<!--          ----------------------------------- WEDBESDAY                      -->

        </tab>
        <tab name="Thursday">
          Thursday content
        </tab>
        <tab name="Friday">
          Friday content
        </tab>
      </tabs>

    </div>



  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  <script src="{% static 'Calendar/main.js' %}"></script>
  </body>
<script>

	$(document).ready(function () {
$('#dtDynamicVerticalScrollExample').DataTable({
"scrollY": "50vh",
"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}

CSS:
   tbody {
    display:block;
    height:500px;
    overflow:auto;
}
thead, tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
}



  Drag & scroll JScript
   // Scroll
const slider = document.querySelector('.center');
let isDown = false;
let startX;
let scrollLeft;

slider.addEventListener('mousedown', (e) => {
  isDown = true;
  slider.classList.add('active');
  startX = e.pageX - slider.offsetLeft;
  scrollLeft = slider.scrollLeft
  console.log(startX)
});

slider.addEventListener('mouseleave', () => {
  isDown = false;
  slider.classList.remove('active');
});

slider.addEventListener('mouseup', () => {
  isDown = false;
  slider.classList.remove('active');
});

slider.addEventListener('mousemove', (e) => {
  if (!isDown) return; // stop the function from running
  e.preventDefault();
  const x = e.pageX - slider.offsetLeft
  const walk = (x - startX)*3;
  slider.scrollLeft = scrollLeft - walk;
});


   <!--TOAST-->

<div aria-live="polite" aria-atomic="true" style="position: absolute; top: 8%; right: 45%; z-index:999; ">
        <div>
            {% for notif in notifications2 %}
            {% if request.user == notif.user %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" >
          <div class="toast-header">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
        </div>
            {% endif %}
            {% endfor %}
</div>

</div>

<!--TOAST-->