{% extends "Account/header.html" %}

{% block content %}


  <br>

<div class="container">
    <div class="texter-center card-box pt-5">

  <div class="row justify-content-center">
            <a href="{% url 'Attendees_search'%}"><i data-feather="users"></i> Attendees</a>
  </div>
  <div class="row justify-content-center pt-3">
           <a href="#"><i data-feather="file-text"></i> Program</a>
  </div>
  <div class="row justify-content-center pt-3">
           <a href="#"><i data-feather="stop-circle"></i>  Recommendations </a>
  </div>

</div>
  </div>

<script>
// var L={{ user.slug }};
console.log(window);


</script>


{% endblock %}

