{% extends "messaging/header_messaging.html" %}
{% block content %}
{% load static %}

<br>

<div class="container">
    <div class="texter-center card-box pt-5">

  <div class="row justify-content-center">
            <a href="{% url 'Attendees_search'%}"><img src="{% static 'Attendees/Icons/attendees.svg' %}" width="50" height="50" > Attendees</a>
  </div>
  <div class="row justify-content-center pt-3">
           <a href="#"><img src="{% static 'Attendees/Icons/list.png' %}" width="50" height="50"> Program</a>
  </div>
  <div class="row justify-content-center pt-3">
           <a href="#"><img src="{% static 'Attendees/Icons/information.svg' %}" width="40" height="40">  Recommendations </a>
  </div>

</div>
  </div>


{% endblock %}

