    <div class="form">
    <input type="email" name="email" required />
    <label for="name" class="label-name">
        <span class="content-name">Email</span>
    </label>
</div>
</div>
    <div class="row justify-content-center p-1 ">

    <div class="form">
    <input type="password" name="password" required />
    <label for="name" class="label-name">
        <span class="content-name">Password</span>
    </label>
</div>
    </div>
</form>

<button class = "btn btn-outline-success" type="submit">Log in</button>
If you already have an account: <a href="{% url 'register_page' %}"><strong>Register.</strong></a>