{% extends "messaging/header_messaging.html" %}

{% block content %}
{% load static %}

<head>
    <meta charset="utf-8">
    <title></title>

<link rel="stylesheet" href="{% static 'Calendar/style4.css' %}" />

  </head>


    <div id="app" class="mt-4">
      <tabs>
        <tab name= "Monday" :selected="true">
<!--            MONDAY CONTENT ------------------------------------------------------------------------ -->
         <div class = "center" id="content" ref="content">
          <table class="table">
            <thead>
            <col width="250">
            {% for d in Duration%}
            <col width="300">
            {%endfor%}

              <tr>
                <th class="text-light bg-dark"></th>
                    {% for time in times %}
                        <th class="text-light bg-dark">{{ time }}</th>
                    {% endfor %}


              </tr>
            </thead>
            <tbody>
                {% for theme,session in themes_sessions %}
                    <tr>
                        <th scope="row" class="bg-light">THEME : {{ theme.title }}
                            <div class="room">
                                <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                                <small><b>{{ theme.room }}</b></small>
                            </div>
                        </th>

                           {% for sess in session %}
                             <td class="table-secondary">
                                 {%if sess.Authors == 'noone' %}

                                 {% else %}

                                <a href="#here{{ sess.id }}" role="button" class="btn btn-fix text-left p-0" data-toggle="modal">
                                    <div class="card">
                                            {% if sess.Recommended %}
                                                <div class="text-left">
                                                 <span class="badge badge-primary">
                                                      Recommended
                                                 </span>
                                                </div>

                                            {% endif %}
                                            {% if sess.Status == 'Ongoing' %}
                                                 <div class="text-right">
                                                     <img src="{% static 'Attendees/Icons/wifi.svg' %}" width="20" height="20">
                                                     <small class="text-success"><b>Ongoing</b></small>
                                                 </div>
                                            {% endif %}

                                          <h6>{{sess.Title|truncatewords:15}}</h6>
                                        <div class="d-flex justify-content-between">
                                            <div class="room text-primary">
                                              <small><b>{{ sess.Start_timeC }} - {{sess.Final_timeC}}</b></small>
                                            </div>
                                            <div class="room">
                                                {% if sess in user_sessions %}
                                                    <a href="{% url 'remove_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                        <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                            <small class="text-primary"><b>Saved</b></small>
                                                    </a>
                                                        {% else %}
                                                    <a href="{% url 'add_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                        <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                            <small><b>Reminder</b></small>
                                                    </a>

                                                    {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </a>
                                          <!-- Modal -->
                                          <div class="modal fade" id="here{{ sess.id }}" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                        <!--                                    ---------------------- content   -->
                                                        <div class="col-md-10 mt-3">
                                                           <h5>{{sess.Title}}</h5>
                                                           <p class="text-muted"><small><b>Abstract: {{sess.Abstract}} </b></small> </p>
                                                           <p class="text-muted"><small><b>Authors: {{sess.Authors}} </b></small> </p>
                                                           <p class="text-muted"><small><b>Speaker: {{sess.Speakers}} </b></small> </p>
                                                           <p class="text-muted"><small><b>Room: {{theme.room}} </b></small> </p>
                                                           <p class="text-muted"><small><b>Time: {{sess.Start_timeC}} - {{sess.Final_timeC}} </b></small> </p>

                                                        </div>
                                                    <div class="d-flex justify-content-between">
                                                        {% if sess in user_sessions %}
                                                            <a href="{% url 'remove_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                                <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                                    <span class="text-primary"><b>Saved</b></span>
                                                            </a>
                                                                {% else %}
                                                            <a href="{% url 'add_reminder' sess.id %}" role="button" class="btn btn-fix text-left p-0">
                                                                <img src="{% static 'Attendees/Icons/calendar.svg' %}" width="20" height="20">
                                                                    <b>Reminder</b>
                                                            </a>

                                                        {% endif %}
                                                        <button type="button" class="btn btn-outline-dark btn-sm mb-2 mr-2" data-dismiss="modal">Close</button>

                                                    </div>
                        <!--                                    ---------------------- content  -->
                                                </div>
                                            </div>
                                          </div>



                             </td>

                        {% endif %}
                           {% endfor %}

                    </tr>
                {% endfor %}

            </tbody>
        </table>
         </div>

            <!--            MONDAY CONTENT ------------------------------------------------------------------------ -->


        </tab>


        <tab name="Tuesday">

            <!--            TUESDAY CONTENT ------------------------------------------------------------------------ -->
          Tuesday content

            <!--            TUESDAY CONTENT ------------------------------------------------------------------------ -->


        </tab>


        <tab name="Wednesday">

            <!--            Wednesday CONTENT ------------------------------------------------------------------------ -->
          Wednesday content

            <!--            Wednesday CONTENT ------------------------------------------------------------------------ -->
        </tab>

      </tabs>

    </div>




  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  <script src="{% static 'Calendar/main2.js' %}"></script>

{% endblock %}

