{% extends "messaging/header_messaging.html" %}

{% block content %}
{% load static %}


  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'Calendar/style3.css' %}" />
  </head>

    <div id="app" class="mt-4">
      <tabs>
        <tab name= "Monday" :selected="true">
<!--          ------------------------------------ MONDAY                        -->
     <table class="table">
            <thead>
            <col width="250">
            <col width="300">
            <col width="300">
            <col width="300">
            <col width="300">
            <col width="300">
            <col width="300">
            <col width="300">
            <col width="300">

              <tr>
                <th class="text-light bg-dark"></th>
                <th class="text-light bg-dark">9:00</th>
                <th class="text-light bg-dark">9:15</th>
                <th class="text-light bg-dark">9:30</th>
                <th class="text-light bg-dark">9:45</th>
                <th class="text-light bg-dark">10:00</th>
                <th class="text-light bg-dark">10:15</th>
                <th class="text-light bg-dark">10:30</th>
                <th class="text-light bg-dark">10:45</th>
                <th class="text-light bg-dark">11:00</th>
                <th class="text-light bg-dark">9:00</th>
                <th class="text-light bg-dark">9:15</th>
                <th class="text-light bg-dark">9:30</th>
                <th class="text-light bg-dark">9:45</th>
                <th class="text-light bg-dark">10:00</th>
                <th class="text-light bg-dark">10:15</th>
                <th class="text-light bg-dark">10:30</th>
                <th class="text-light bg-dark">10:45</th>
                <th class="text-light bg-dark">11:00</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">THEME A: Modelling Techniques and Prototype Data
                      <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Panama</b></small>
                      </div>
                </th>
                <td class="table-secondary">


<!--                        EXAMPLE CARD------------------------------------------------------------- -->
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate

                    <div class="d-flex justify-content-between room">
                      <small><b>Time</b></small>

                      <button type="button" class="btn btn-outline-dark btn-sm mb-3" data-toggle="modal" data-target=".bd-example-modal-lg">
                              More ...
                            </button>

                              <!-- Modal -->
                       <div class="modal fade bd-example-modal-lg" role="dialog">
                         <div class="modal-dialog modal-lg">
                           <div class="modal-content">
            <!--                                    ---------------------- content   -->
                                   <div class="row no-gutters">
                                       <div class="col-md-2">
                                           <div class="thumb-lg member-thumb ml-3 mt-3">
                                              blablabla
                                           </div>
                                       </div>
                                       <div class="col-md-10 mt-3">

                                               <h5>blablabla</h5>
                                               <p class="text-muted"><small><b>blablabla </b></small> </p>
                                               <p class="text-muted"><small><b>blablabla </b></small> </p>

                                               <p class="text-muted"><small><b>Webpages: </b></small> </p>
                                               <p class="text-right mr-3">
                                                   <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>
                                               </p>

                                       </div>
                                   </div>
            <!--                                    ---------------------- content  -->
                           </div>
                         </div>
                       </div>
 </div>
                  </div>

<!--                        EXAMPLE CARD -------------------------------------------------------------- -->


                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME B: Coastal Hydrodynamics and Morphology
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Barcelona 4</b></small>
                  </div>

                </th>

                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME C: Surface Water and Groundwater Hydrology
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Madril Hall</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME D: Integrated Watershed Management
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Panama 4</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">THEME E: River Basin Management
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Berlin 1</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

             <tr>
                <th scope="row">THEME F: Climate Change
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Barcelona 5</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>

             <tr>
                <th scope="row">Special Session: Non-Instrusive Measuring Techniques for Free-Surface
                  <div class="room">
                        <img src="{% static 'Attendees/Icons/location.svg' %}" width="15" height="15">
                        <small><b>Roma 2</b></small>
                  </div>
                </th>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
                <td class="table-secondary">
                  <div class="card">
                  Impact Assessment of Climate Change in the Midori River Basin with Large Ensemble Climate
                  </div>
                </td>
              </tr>


            </tbody>
        </table>




<!--          ------------------------------------ MONDAY                        -->
        </tab>


        <tab name="Tuesday">
<!--          ------------------------------------- TUESDAY                      -->
tuesday content

<!--          ----------------------------------- TUESDAY                        -->
        </tab>

        <tab name="Wednesday">

<!--          ----------------------------------- WEDBESDAY                      -->
wednesday content

<!--          ----------------------------------- WEDBESDAY                      -->

        </tab>
        <tab name="Thursday">
          Thursday content
        </tab>
        <tab name="Friday">
          Friday content
        </tab>
      </tabs>

    </div>



  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  <script src="{% static 'Calendar/main.js' %}"></script>


{% endblock %}

